*.bak
/CodeBlocks/CB_Trouble_Shooting/MinGWHelloWorld/*.layout
/CodeBlocks/CB_Trouble_Shooting/MinGWHelloWorld/bin
/CodeBlocks/CB_Trouble_Shooting/MinGWHelloWorld/obj
/CodeBlocks/CB_Trouble_Shooting/testgcc-win/testgcc-win.cbp
/CodeBlocks/CB_wx30/wx30_gcc471TDM_dll/*.layout
/CodeBlocks/CB_wx30/wx30_gcc471TDM_dll/*.depend
/CodeBlocks/CB_wx30/wx30_gcc471TDM_dll/bin
/CodeBlocks/CB_wx30/wx30_gcc471TDM_dll/obj
